" IdeaVim mirror of ~/.config/nvim/init.lua. Plugins are replaced by native
" IDE actions. Whitespace display and theme live in IDE settings.

" --- Appearance ---

set number
set relativenumber
set showcmd
set visualbell
set noerrorbells

" --- Search ---

set incsearch
set hlsearch
set ignorecase
set smartcase

nnoremap <esc> :noh<CR><esc>
vnoremap // y/<C-R>"<CR>

" --- Copy/Paste ---

let mapleader = ";"

nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>p "+p
vnoremap <leader>p "+p

" --- Navigation ---

" Actions use noremap so they also run on a visual selection: the
" selected word pre-fills the Goto/Find popup.

noremap <A-]> :action GotoDeclaration<CR>
noremap <A-[> :action Back<CR>

noremap <leader>g :action GotoDeclaration<CR>
noremap <leader>G :action Back<CR>

noremap <leader>t :action SelectInProjectView<CR>

noremap <F2> :action PreviousTab<CR>
noremap <F3> :action NextTab<CR>

vnoremap <leader>k :action ReformatCode<CR>
nnoremap <leader>K :action ReformatCode<CR>

" --- Plugin replacements ---

" Switch .c/.h .cpp/.hpp (a.vim)
noremap <leader>; :action SwitchHeaderSource<CR>

" Telescope
noremap <A-f> :action GotoFile<CR>
noremap <A-t> :action GotoSymbol<CR>
noremap <A-b> :action RecentFiles<CR>
noremap <A-a> :action GotoAction<CR>
noremap <A-m> :action ShowBookmarks<CR>
noremap <A-R> :action FindInPath<CR>
noremap <A-r> :action FindInPath<CR>

noremap <leader>f :action GotoFile<CR>
noremap <leader>t :action GotoSymbol<CR>
noremap <leader>e :action RecentFiles<CR>
noremap <leader>a :action GotoAction<CR>
noremap <leader>m :action ShowBookmarks<CR>
noremap <leader>R :action FindInPath<CR>
noremap <leader>r :action FindInPath<CR>

nnoremap <leader>m :delm<Space>
noremap <leader>b :action ToggleLineBreakpoint<CR>

" diffview
noremap <leader>d :action Vcs.ShowTabbedFileHistory<CR>

" --- IdeaVim behaviour ---

set ideajoin
sethandler <A-]> a:vim
sethandler <A-[> a:vim
