configuration {
  mouse: true;
  line-margin: 10;
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-run: " ";
  font: "JetBrainsMono Nerd Font k2 16";

  kb-remove-to-eol: "";
  kb-row-up: "Control+k";
  kb-row-down: "Control+j";
  kb-accept-entry: "Control+m,Return,KP_Enter";
}

@theme "~/.config/rofi/theme.rasi"

